
<div class="container">
<table id="books-table" class="table table-striped table-bordered table-condensed table-hover">
  <thead>
    <tr>
    <th class="component_title_header_col"><%= sort_link @search, :title, "Title", {}, { :remote => true, :method => :get } %></th>
    <th class="component_description_header_col">Description</th>
    <th>Cover</th>
    <th class="action_col"></th>
    </tr>
  </thead>
<tbody>
  <% @component.each do |component| %> 
  <tr>
  <td class="component_title_body_col"><%= component.title %></td>
  <td class="component_description_body_col"><%= component.description %></td>
  <td><img alt="cover_image" class="img-thumbnail" src="<%= component.cover %>" /></td>
  <td><%= link_to "Details",book_path(component) %></td>
  </tr>
  <% end %>
</tbody>
</table>
<center><%= paginate @component, :remote => true %></center>
</div>
